__pycache__/
*.pyc
*.pyo
.env

# Archivos de instalación específicos
licencia.lic
config/licencia_config.json

# Base de datos y backups
registros/clientes.db
registros/backups/

# Logs
registros/metodo_base.log

# Build outputs
build/
dist/
*.spec
